.about {
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 20px auto;
}

.about h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
}

.about p {
  margin-top: 0;
  margin-bottom: 10px;
}

.about .skillsets,
.about .projectManagementTools {
  font-weight: bold;
  color: #f27735;
}

.day-mode .section-card {
  background-color: #f8f9fa;
  color: #2d2d2d;
}

.night-mode .section-card {
  background-color: #2d2d2d;
  color: #f8f9fa;
}
