.navbar {
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.navbar h1 {
  font-size: 1.5em;
}

.navbar-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f27735;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: #ffab70;
}
